<!DOCTYPE html>

<html>

	<head>
	<title>Gnubiquity : About Us</title>
		<meta charset=utf8>
		<link rel="stylesheet" href="{{ url_for('static', filename='DesignApp.css') }}" />
	</head>
	
	<body>
	
		<div id="Upper">
			<center>
				<img id="ImgLogo" src="{{ url_for('static', filename='LogoApp2.png') }}">
				<br/>
			</center>
		</div>
		
		<div>
			<a href="/">
				<div id="LienAppli">Return to the Application</div>
			</a>
		</div>
		
		<div id="TG">
			<div>
				Le groupe Gnubiquity a vu le jour en octobre 2014. Nous sommes cinq étudiants
				qui avons décidé de contrôler Nao à distance via une appli web et permettre
				grâce à ce système, à l'avenir, d'aider les personnes malades ou handicapées de suivre
				les cours à distance par la présence du robot sur les lieux. L'utilité de cette perspective
				permettra par ailleurs la visite de musées ou de présence robotique lors de conférences ou
				réunions.
				
				Un grand merci à l'école Polytech Annecy pour leur aide au cours de la réalisaton de ce projet.
				
				Tous Droits Réservés. <br/><br/>
			</div>
			
			<div>
				Thomas : <br/><br/> Partie conception serveur -> Nao.
			</div>
			
			<div>
				Ramachandran : <br/><br/> Partie conception serveur -> Nao.
			</div>
			
			<div>
				William : <br/><br/> Partie conception serveur Nao, Chef de projet.
			</div>
			
			<div>
				Pierre : <br/><br/> Partie conception Nao -> serveur.
			</div>
			
			<div>
				Enzo : <br/><br/> Partie conception Appli Web.
			</div>
		</div>
	</body>
	
</html>