<!DOCTYPE html>

<html>

	<head>
	<title>Gnubiquity : About Us</title>
		<meta charset=utf8>
		<link rel="stylesheet" href="{{ url_for('static', filename='DesignApp.css') }}" />
	</head>
	
	<body>
	
		<div id="Upper">
			<center>
				<img id="ImgLogo" src="{{ url_for('static', filename='LogoApp2.png') }}">
				<br/>
			</center>
		</div>
		
		<div>
			<a href="/">
				<div id="LienAppli">Return to the Application</div>
			</a>
		</div>
		
		<div id="TG">
			
			<div>
				Thomas : <div id="Button">
							<center>
								<img id="myImage" onclick="changeImage()" src="{{ url_for('static',filename='Button2Click.png') }}" width="80" height="40">
							</center>	
						</div>
				<br/><br/> Partie conception serveur -> Nao.
			</div>
			<br/>
			<div>
				Ramachandran : <br/><br/> Partie conception serveur -> Nao.
			</div>
			<br/>
			<div>
				William : <br/><br/> Partie conception serveur Nao, Chef de projet.
			</div>
			<br/>
			<div>
				Pierre : <br/><br/> Partie conception Nao -> serveur.
			</div>
			<br/>
			<div>
				Enzo : <br/><br/> Partie conception Appli Web.
			</div>
		</div>
	</body>
	
</html>