<html>

	<head>
	<title>Gnubiquity Nao</title>
		<meta charset=utf8>
		<!-- prevent the user from scaling up or down the webpage -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="{{ url_for('static', filename='DesignApp.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recorderWorker.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recording.js') }}"></script>
		
	<!--
	/////////////////////////////////////////////////////////////
	-->
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-57x57.png',sizes='57x57') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-60x60.png',sizes='60x60') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-72x72.png',sizes='72x72') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-76x76.png',sizes='76x76') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-114x114.png',sizes='114x114') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-120x120.png',sizes='120x120') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-144x144.png',sizes='144x144') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-152x152.png',sizes='152x152') }}"/>
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='Favicon/apple-touch-icon-180x180.png',sizes='180x180') }}"/>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favicon/favicon-32x32.png') }}"/>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favicon/favicon-194x194.png', sizes='194x194') }}"/>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favicon/favicon-96x96.png', sizes='96x96') }}"/>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favicon/android-chrome-192x192.png', sizes='192x192') }}"/>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Favicon/favicon-16x16.png', sizes='16x16') }}"/>
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	
	<body>
	<div id="EnsembleTot">
		<div id="hide">
				<center>	
				<div id="Upper1">
					<center>
						<img id="ImgLogo" src="{{ url_for('static', filename='LogoApp2.png') }}">
					</center>
				</div>
				</center>
		</div>
	</div>	
	<hr style="height:0.1em;border-width:0;color:gray;background-color:black;box-shadow: -1px 2px 5px 1px black;">
	<div id="Onglets">
		<a href="/" id="LienAppli2">
			Return to the Application
		</a>
	</div>
	<div id="FondDescription">
		<div id="TextD">
			
				Nous sommes 5 étudiants élèves ingénieurs qui avons eu en tant que projet de faire 
				de la téléprésence robotique.<br/> Cet APP RS ( Apprentissage Par Projet en Robotique de Service ) 
				fut mené pendant nos 3 années de notre cycle ingénieur. Au cours de ce projet, nous avons établi les différentes possibilités 
				que nous pouvions exploiter non seulement avec Nao mais avec un robot quelconque. 
				Cet aspect d'adaptabilité a toujours été un point clé dans notre cahier des charges.
				Tous droits réservés, Polytech Annecy-Chambery 
				
				Sponsoring : <img src="{{ url_for('static', filename='Milka.png') }}">
		
		</div>
	</div>
	<hr style="height:0.1em;border-width:0;color:gray;background-color:black;box-shadow: -1px 2px 5px 1px black;">