<!DOCTYPE html>

<html>

	<head>
	<title>Gnubiquity Nao</title>
		<meta charset=utf8>
		<link rel="stylesheet" href="{{ url_for('static', filename='DesignApp.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recorderWorker.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='recording.js') }}"></script>
		
	<!--
	/////////////////////////////////////////////////////////////
	-->
	
	</head>
	
	<body>
	<div id="hide">
			<center>	
			<div id="Upper1">
				<center>
					<img id="ImgLogo" src="{{ url_for('static', filename='LogoApp2.png') }}">
					<br/>
				</center>
			</div>
			</center>
			<br/>
			<center>	
			<div id="Upper">
						<div id="Button">
							<center>
							<img id="myImage" onclick="changeImage()" src="{{ url_for('static',filename='Button2Click.png') }}" width="80" height="40">
							</center>	
						</div>
			</div>
			</center>
		<div id="EnsembleTot">
			<div id="Connexion"> 
				<ul>
					<a href="{{ url_for('about') }}"><li id="AboutUs"> About us </li></a><!--
					--><a href="/"><li> Reload </li></a><!--
					--><a href="http://www.w3schools.com"><li  id="Deconnexion"> Disconnect </li></a>
				</ul> 
			</div>
			<div id="Main">
				<div id="CadreCentral">
					Here, the video connexion of Nao :
					
					<br/>
					<center>
					
					<div id = "output">		
						<img src="{{ url_for('video_feed') }}">
					</div>
					
					</center>
					
					<div id="Buttons">
						<img class="Button" id="joystickG" src="{{ url_for('static', filename='Button.png') }}" draggable="false">
						<img class="ButtonB" onclick="HMI._posRestPressedHandle();" id="rest_button" src="{{ url_for('static', filename='Assis.png') }}" draggable="false">
						<img class="ButtonB" onclick="HMI._posIdlePressedHandle();" id="idle_button" src="{{ url_for('static', filename='Debout.png') }}" draggable="false">
						<img class="ButtonB" onclick="HMI._posCuePressedHandle();" id="cue_button" src="{{ url_for('static', filename='SigneMain.png') }}" draggable="false">
						<img class="ButtonB" onmouseup="toggleRecording(this);" onmousedown="toggleRecording(this);" id="record" src="{{ url_for('static', filename='Micro.png') }}" draggable="false">
						<img class="Button" id="joystickD" src="{{ url_for('static', filename='Button.png') }}" draggable="false">
					</div>
				</div>
				<div id="CadreCentralbis">
					<div id="form">
						<form action="/say" method="POST">
							Write here what you want to say : <input id="text" type="text" name="Say"><br>
						<br/>
						<input id="submit" type="submit" value="Submit"><br/><br/>
						</form>
					</div>
					<p id="CoordonneesG"></p>
					<p id="CoordonneesD"></p>
				</div>
			</div>
		</div>
		
		<div id="Lower">
		
			<marquee direction="left"> 
				All Rights Reserved. Engineering Students concerned : Le Borgne, Attié, Suntharasarma, Fath, Boully.
			</marquee>
		
		</div>
	
		<script>
			function changeImage() {
				var image = document.getElementById('myImage');
				var body = document.getElementById('EnsembleTot');
					if (image.src.match("Button2Click")) {
					image.src = "{{ url_for('static',filename='Button1click.png') }}";
					body.style.visibility = 'hidden';
					} else {
						image.src = "{{ url_for('static', filename='Button2Click.png') }}";
						body.style.visibility = 'visible';
							}
						}
					
						
		</script>
		
		<script type="text/javascript">
	
			var joyG = document.getElementById("joystickG");
			LEFT_JOY.bind(joyG);
			
			var joyD = document.getElementById("joystickD");
			RIGHT_JOY.bind(joyD);

			
			function onMouseMove_page2(event){
				var x2 = event.clientX - LeftD + window.scrollX - joystickG.width/2;
				var y2 = 0 - event.clientY - window.scrollY + TopG + joystickG.height/2 + 12;
				var coor2 = "Coordinates Right: (" + x2 + "," + y2 + ")";
				RIGHT_JOY = [x2, y2];
				document.getElementById("CoordonneesD").innerHTML = coor2;
			}

			
		</script>
	</div>
	</body>

</html>
