/*Fichier CSS*/
body{
	background-color:#303030;
	padding:10px;
	min-width:700px;
	cursor:url(images/Joystick.cur),auto;
}
#Upper1{
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:#0066FF;
}
#LienAppli{
	text-decoration:none;
	position:absolute;
	top:0px;
}
#TG{
	list-style:none;
	background-image:linear-gradient(black,#484848);
	border-style:solid;
	border-width:1px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-top-color:#00FFFF;
	border-left-color:#00FFFF;
	border-right-color:#00FFFF;
	box-shadow: -1px 2px 5px 1px black;
	text-align:center;
	padding:2px;
	color:#00FFFF;
}